body{
    background-color: bisque;
}
h1{
    color:brown;
    text-align: center;
}
.box{
    text-align: center;
    margin:20px;
    padding:40px;
    width:300px;
    border-left-width: 30%;
    border:12px;
    
    background-color: rgb(251, 189, 113);
border-radius: 30px;
margin-left: 33%;
}
.texts{
    color:rgb(109, 33, 8);
    font-weight: 100;
    font-size: medium;
}
button{
    border-radius: 20px;
    background-color: orange;
    color:darkblue;
    padding:15px;
}
.flex{
    display:flex;
    
    justify-content: center;
}
.box{
    text-align: center;
    width:300px;
    margin: 50px auto;
    border-radius:20px;
    background-color: #fff;
    padding:30px;
padding-right: 10px;
padding-bottom: 10px;
}
.herit{
    padding:30px;
    padding-left: 80px;
    border-color: aqua;
    color:rgb(96, 62, 7);
    background-color: rgb(208, 211, 212);
    border-radius: 20px;
}
.main{
    padding-left: 30px;
    align-items: center;
}