table{
   
    box-sizing: border-box;
    margin: 0;
    padding: 20px 40px;
    width:80%;
}
h1,h2{
    color:rgb(157, 14, 14);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100% 100%;
    display:grid;
}
td{
 text-align:center;
 background-color: darkkhaki;
 color:brown;
}
tr{
    background-color: rgb(177, 189, 107);
 color:rgb(135, 20, 85);
}
body{
    background-image:url(https://images.unsplash.com/photo-1638537690617-ebc561143de0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGJsYWNrJTIwYW5kJTIwd2hpdGUlMjBib29rfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60);
background-color:azure;
background-repeat: no-repeat;
background-size: cover;
}
nav{
    display:flex;
    justify-content: flex-end;
}
ul{
    display:inline-block;
    display:flex;
    justify-content: flex-end;
}
a{color:rgb(191, 57, 16);}
ul li{
  
    
    padding:5px;
   
    margin:3% 3%;
    border-width:20px ;
    border-radius: 10px;
   border-color: black;
}
header{
    text-align: center;
    
}
